<div class ="main">
   <div class="body container-fluid">
      <div class="col-md-3">
         <h3 class="title"><%= link_to "PRODUCT", products_path %></h3>
         <div class="sidebartotal">
            <div class="sidebar">
               <ul class="">
                  <li class="filter-products">FILTER PRODUCTS</li>
                  <li>CATEGORY</li>
                     <% @categories.each do |category| %>
                  <li class="content-id"><%= link_to category.name, products_path(category_id: category.id) %>
                  </li>
                  <p>
                     <%= link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>
                     <%= link_to 'Insert', new_category_path(category) %>
                     <%= link_to 'Update', edit_category_path(category) %>
                  </p>
                  <% end %>
               </ul>
            </div>
         </div>
      </div>
      <div class="col-md-9 content">
      </div>
      <div class="next-page">
      </div>
   </div>
</div>
