<div class="col-md-4">
   <div class="product">
      <div class="product-img">
         <%= image_tag product.pictures.first.name.url %>
      </div>
      <div class="information">
         <%= link_to product.name, edit_product_path(product)%>
         <br>
         <%= product.price %>
         <br>
         <%= product.category_name %>
           <div id="cart-group-button-<%= product.id %>">
            <%= cart_button @current_cart, product.id %>
           </div>
         <br>
      </div>
   </div>
</div>
