<div class="navigation">
   <nav class="navba navbar-default">
      <div class="navbar-header">
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>            
      </div>
      <div class="collapse navbar-collapse js-navbar-collapse">
         <div class="col-md-1"></div>
         <div class="col-md-5">
            <ul class="nav navbar-nav"  style="margin-top: 10px">
               <li> "HOME" </li>
               <li class="dropdown mega-dropdown">
                  "PRODUCT"
               </li>
            </ul>
               </li>
               <li> "DESIGN"</li>
               <li>"ABOUT"</li>
               <li><a href="/contacts">CONTACT</a></li>
            </ul>
         </div>
         <div class="col-md-6" style="padding-right: 75px;">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/cart">
                  <i class="fa fa-shopping-cart fa-lg " ></i>
                  </a>
               </li>
               <li>
                  <a class="account" href="<%= new_user_session_path %>"><i class="fa fa-user fa-lg"></i></a>
               </li>
               <li>
                  <a href="javascript:void(0);" style="margin-top: 5px;">
                     <div class="search_form" >
                           <%= form_tag(products_path, :method => "get", id: "search-form") do %>
                           <%= text_field_tag :search, params[:search], placeholder: "Search products" %>
                           <% end %>
                     </div>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</div>
<div class ="main">
   <div class="body container-fluid">
      <div class="col-md-3">
         <h3 class="title"><%= link_to "PRODUCT", products_path %></h3>
         <div class="sidebartotal">
            <div class="sidebar">
               <ul class="">
                  <li class="filter-products">FILTER PRODUCTS</li>
                  <li>CATEGORY</li>
                     <% @categories.each do |category| %>
                  <li class="content-id"><%= link_to category.name, products_path(category_id: category.id) %>
                  </li>
                  <% end %>
               </ul>
            </div>
         </div>
      </div>
      <div class="col-md-9 content">
         <%= render @products %>
      </div>
      <div class="next-page">
      </div>
   </div>
</div>
